<%- include('partials/header.ejs') %>

<main>

<img src="/images/front.png" alt="Ilojo bar" width="100%">
<img src="/images/1.png" alt="Ilojo bar">
<img src="/images/2.png" alt="Ilojo bar">
<img src="/images/3.png" alt="Ilojo bar">
<img src="/images/4.png" alt="Ilojo bar">
<img src="/images/5.png" alt="Ilojo bar">

</main>

<%- include('partials/foot.ejs') %>